<!-- index.html (ch06www project) -->
{% extends "base.html" %}
{% block title %}TV{% endblock %}
{% block tvname %} {{tv.name}} {% endblock %}
{% block menu %}
			<ul class='nav navbar-nav'>
				<li class='active'><a href='/'>Home</a></li>
				{% for t in tv_list %}
					<li>
						<a href='{% url 'tv-url' forloop.counter0 %}'>
							{{ t.name }}
						</a>
					</li>  
				{% endfor %}
			</ul>
{% endblock %}
<div>
<script type="text/javascript">
document.write("enjoying viewing the TV!")
<noscript>Your browser does not support JavaScript!</noscript>
</script>
</div>
{% block content %}
    <div class='conatiner'>
	<div id='tvcode' align='center'>
	    <iframe width="560" height="315" src="http://tv.cctv.com/live/embed/{{tv.tvcode}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
	</div>
    </div>
{% endblock %}